#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	# jquery.flot.navigate.js
	cat debian/jquery.flot.navigate.header.js > jquery.flot.navigate.js
	cat /usr/share/javascript/jquery-mousewheel/jquery.mousewheel.min.js >> jquery.flot.navigate.js
	cat /usr/share/javascript/jquery-event-drag/jquery.event.drag.min.js >> jquery.flot.navigate.js
	cat debian/jquery.flot.navigate.js >> jquery.flot.navigate.js
	# jquery.flot.resize.js
	cat /usr/share/javascript/jquery-resize/jquery.ba-resize.min.js > jquery.flot.resize.js
	cat debian/jquery.flot.resize.js >> jquery.flot.resize.js
	# jquery.flot.js
	cat jquery.colorhelpers.js > jquery.flot.js
	cat debian/jquery.flot.js >> jquery.flot.js
	for file in `ls *.js`; do \
		uglifyjs -o $${file%.js}.min.js $$file; \
	done

override_dh_auto_clean:
	rm -f *.min.js
	rm -f jquery.flot.navigate.js
	rm -f jquery.flot.resize.js
	rm -f jquery.flot.js

get-orig-source:
	OUTDIR=$$PWD ; \
	MAKEFILE=`echo $(MAKEFILE_LIST) | awk '{ print $$1 }'` ; \
	FILE=`readlink -f $$MAKEFILE` ; \
	DIR=`dirname $$FILE` ; \
	cd $$DIR/.. ; \
	TMP=`mktemp -d` ; \
	if ! USCAN=`uscan --destdir $$TMP` ; then exit 1 ; fi ; \
	VERSION=`echo $$USCAN | sed -n 's/.*Newer version (\(.*\)) available.*/\1/p'` ; \
	cd $$TMP ; \
	tar xzf flot-$$VERSION.tar.gz ; \
	cd flot-$$VERSION; \
	rm -f Makefile ; \
	rm -f *.min.js  ; \
	rm -f jquery.js ; \
	rm -f excanvas.js ; \
	rm -f jquery.flot.navigate.js ; \
	rm -f jquery.flot.resize.js ; \
	rm -f jquery.flot.js ; \
	rm -f .travis.yml ; \
	rm -f .gitignore ; \
	rm -rf examples/shared ; \
	cd .. ; \
	tar c flot-$$VERSION | gzip -9 > flot_$$VERSION+dfsg.orig.tar.gz ; \
	rm -rf flot-$$VERSION ; \
	mv flot_$$VERSION+dfsg.orig.tar.gz $$OUTDIR ; \
	cd $$OUTDIR ; \
	rm -rf $$TMP ; \
	echo Saved file at flot_$$VERSION+dfsg.orig.tar.gz
